.about {
  margin-top: 150px;

  @include media-tablet {
    margin-top: 70px;
  }

  @include media-mobile {
    margin-top: 73px;
  }
}

.about__list {
  @include reset-list-slyle;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  counter-reset: list;
  margin: 50px auto 0;

  @include media-tablet {
    margin-top: 30px;
    padding-left: 85px;
    padding-right: 88px;
  }

  @include media-mobile {
    flex-direction: column;
    margin-top: 27px;
  }
}

.about__item {
  @include plain-text;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 54px 0 0;
  width: calc((100% - 214px) / 4);
  height: 100%;
  flex-grow: 1;


  @include media-tablet {
    padding-top: 56px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 38px;
  }

  @include media-mobile {
    font-size: 18px;
    padding-top: 59px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  &::before {
    position: absolute;
    counter-increment: list;
    font-family: $f-bold;
    font-weight: $font-weight-bold;
    font-size: 28px;
    line-height: 38px;
    color: $turquoise-text;
    left: 50%;
    transform: translateX(-50%);
    content: "0" counter(list);
    top: 0;

    @include media-mobile {
      top: 5px;
    }
  }
}


.about__item:not(:last-of-type) {
  margin-right: 38px;

  @include media-tablet {
    margin-bottom: 38px;
  }

  @include tablet-mobile {
    margin-right: auto;
  }

  @include media-mobile {
    margin-bottom: 30px;
  }
}

@include media-tablet {
  .about__item:nth-of-type(odd) {
    margin-right: 30px;
  }
}

.about__item p {
  @include reset-text-slyle;
}
