.bikes {
  margin-top: 153px;
  padding-top: 149px;
  padding-bottom: 98px;
  background-color: $secondary-grey-bg;

  @include tablet-mobile {
    padding-top: 50px;
  }

  @include media-tablet {
    margin-top: 33px;
    padding-bottom: 70px;
  }

  @include media-mobile {
    margin-top: 84px;
    padding-bottom: 3px;
  }
}

.bikes__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  margin: 51px auto 0;

  @include tablet-mobile {
    margin-top: 30px;
  }

  @include media-tablet {
    padding-left: 68px;
    padding-right: 68px;
  }

  @include media-mobile {
    flex-direction: column;
    padding: 0;
  }
}
