.bikes {
  margin-top: 150px;
  padding-top: 149px;
  padding-bottom: 147px;
  background-color: $secondary-grey-bg;

  @include tablet-mobile {
    padding-top: 50px;
  }

  @include media-tablet {
    margin-top: 65px;
    padding-bottom: 70px;
  }

  @include media-mobile {
    margin-top: 80px;
    padding-bottom: 52px;
  }
}

.bikes__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  flex-grow: 1;
  margin: 51px auto 0;

  @include tablet-mobile {
    margin-top: 30px;
  }

  @include media-tablet {
    padding-left: 68px;
    padding-right: 68px;
  }

  @include media-mobile {
    flex-direction: column;
    padding: 0;
    gap: 43px;
  }
}
