.footer {
  margin-top: 149px;
  padding-bottom: 98px;

  @include media-tablet {
    margin-top: 59px;
    padding-bottom: 53px;
  }

  @include media-mobile {
    margin-top: 67px;
    padding-bottom: 51px;
  }
}

.footer .wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.footer__contacts h2 {
  margin-bottom: 28px;

  @include media-tablet {
    margin-bottom: 15px;
  }

  @include media-mobile {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
}

.footer__contacts p {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $partial-opacity-grey-text-07;
  max-width: 555px;
  margin: 0 auto 42px;

  @include media-tablet {
    margin-bottom: 20px;
    width: 100%;
    max-width: 629px;
  }

  @include media-mobile {
    margin-bottom: 19px;
    width: 90%;
    max-width: 360px;
  }
}

.footer__map {
  margin: 0 auto 39px;
  width: 957px;
  height: 530px;
  background: $secondary-dark-grey-bg url("../img/map/map@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include retina {
    background: $secondary-dark-grey-bg url("../img/map/map@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @include media-tablet {
    margin-bottom: 22px;
    width: 90.89%;
    height: 545px;
    background: $secondary-dark-grey-bg url("../img/map/map-tablet@1x.png");
    background-size: cover;

    @include retina {
      background: $secondary-dark-grey-bg url("../img/map/map-tablet@2x.png");
      background-size: cover;
    }
  }

  @include media-mobile {
    margin-bottom: 31px;
    width: 100%;
    height: 250px;
    background: $secondary-dark-grey-bg url("../img/map/map-mob@1x.png");
    background-size: cover;

    @include retina {
      background: $secondary-dark-grey-bg url("../img/map/map-mob@2x.png");
      background-size: cover;
    }
  }
}

.footer__links {
  @include reset-list-slyle;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  color: $partial-opacity-grey-text-05;
  max-width: 528px;

  @include media-tablet {
    width: 90.89%;
    max-width: 535px;
  }

  @include media-mobile {
    flex-direction: column;
    padding-left: 12px;
    width: 100%;
  }
}

.footer__link-item a {
  @include reset-style-link;
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    left: -15px;
  }
}

.footer__link-item--mail a {
  padding-left: 22px;

  @include media-tablet {
    padding-left: 29px;
  }

  @include media-mobile {
    padding-left: 36px;
  }

  &::before {
    width: 26px;
    height: 20px;
    background-image: url("../img/svg/mail-icon.svg");

    @include media-mobile {
      transform: translateY(-35%);
      left: -7px;
    }
  }
}

.footer__link-item--tel a {
  padding-left: 27px;

  @include media-mobile {
    padding-left: 14px;
  }

  &::before {
    width: 22px;
    height: 22px;
    background-image: url("../img/svg/tel-icon.svg");

    @include media-tablet {
      left: -9px;
    }

    @include media-mobile {
      transform: translateY(-55%);
      left: -22px;
    }
  }
}

.footer__link-item {
  margin-bottom: 15px;

  @include media-mobile {
    margin-bottom: 26px;
  }
}

.footer__link-item:nth-of-type(odd) {
  margin-right: auto;

  @include media-mobile {
    margin-right: 0;
  }
}

.footer__link-item:hover {
  color: $turquoise-text;
}

.footer__link-item:active {
  opacity: 0.5;
}
