.footer {
  margin-top: 145px;
  padding-bottom: 98px;

  @include media-tablet {
    margin-top: 59px;
    padding-bottom: 53px;
  }

  @include media-mobile {
    margin-top: 65px;
    padding-bottom: 51px;
  }
}

.footer .wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.footer__contacts h2 {
  margin-bottom: 28px;

  @include media-tablet {
    margin-bottom: 15px;
  }

  @include media-mobile {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
}

.footer__contacts p {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $partial-opacity-grey-text-07;
  width: 78.6%;
  margin: 0 auto 42px;

  @include media-tablet {
    margin-bottom: 20px;
    width: 100%;
    max-width: 629px;
  }

  @include media-mobile {
    margin-bottom: 19px;
    width: 90%;
    max-width: 360px;
  }
}

.footer__map {
  margin: 0 auto 38px;
  width: 957px;
  height: 530px;
  background: $secondary-dark-grey-bg url("../img/map/map@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include retina {
    background: $secondary-dark-grey-bg url("../img/map/map@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @include media-tablet {
    margin-bottom: 20px;
    width: 698px;
    height: 545px;
    background: $secondary-dark-grey-bg url("../img/map/map-tablet@1x.png");
    background-size: contain;

    @include retina {
      background: $secondary-dark-grey-bg url("../img/map/map-tablet@2x.png");
      background-size: contain;
    }
  }

  @include media-mobile {
    margin-bottom: 30px;
    width: 100%;
    max-width: 360px;
    height: 250px;
    background: $secondary-dark-grey-bg url("../img/map/map-mob@1x.png");
    background-size: contain;

    @include retina {
      background: $secondary-dark-grey-bg url("../img/map/map-mob@2x.png");
      background-size: contain;
    }
  }
}

.footer__links {
  @include reset-list-slyle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 98px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  color: $partial-opacity-grey-text-05;
  width: 66.46%;

  @include media-tablet {
    width: 90.89%;
  }

  @include media-mobile {
    flex-direction: column;
    gap: 26px;
    padding-left: 12px;
    width: 100%;
  }
}

.footer__link-item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
  }
}

.footer__link-item a {
  @include reset-style-link;
}

.footer__link-item--mail {
  padding-left: 34px;

  &::before {
    left: -7px;
    width: 26px;
    height: 20px;
    background-image: url("../img/svg/mail-icon.svg");

    @include media-tablet {
      left: -10px;
    }

    @include media-mobile {
      transform: translateY(-35%);
    }
  }
}

.footer__link-item--tel {
  padding-left: 37px;


  @include media-tablet {
    padding-left: 27px;
  }

  @include media-mobile {
    padding-left: 7px;
  }

  &::before {
    left: -7px;
    width: 22px;
    height: 22px;
    background-image: url("../img/svg/tel-icon.svg");

    @include media-tablet {
      left: -10px;
    }

    @include media-mobile {
      left: -27px;
      transform: translateY(-55%);
    }
  }
}

.footer__link-item:hover {
  color: $turquoise-text;
}

.footer__link-item:active {
  opacity: 0.5;
}
