.header {
  position: relative;
  padding: 20px 0 10px;

  @include tablet-mobile {
    padding: 0;
  }
}

.header .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  display: none;

  @include tablet-mobile{
    @include reset-style-button;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/svg/burger-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;

  }
}

.header--open .header__button {
    background-image: url('../img/svg/cross-icon.svg');
    background-color: transparent;
    z-index: 99;
}

@include tablet-mobile {
  .header--open .nav__list{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: $nav-grey-text;
  }

  .header--open .nav {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary-white-color;
    z-index: 3;
  }
}


