.hero {
  padding-top: 245px;
  padding-bottom: 240px;
  color: $white-text;

  @include tablet-mobile {
    padding-top: 25px;
    padding-bottom: 0;
  }
}

.hero .wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 880px;

  @include tablet-mobile {
    flex-direction: column;
  }
}

.hero::before {
  position: absolute;
  content: "";
  background: $primary-grey-bg url("../img/hero/hero-bg-dsk@1x.jpg");
  width: 100vw;
  height: 825px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background: $primary-grey-bg url("../img/hero/hero-bg-dsk@2x.jpg");
  }

  @include media-tablet {
    height: 340px;
    background: $primary-grey-bg url("../img/hero/hero-bg-tablet@1x.jpg");

    @include retina {
      background: $primary-grey-bg url("../img/hero/hero-bg-tablet@2x.jpg");
    }
  }

  @include media-mobile {
    height: 390px;
    background: $primary-grey-bg url("../img/hero/hero-bg-mob@1x.jpg");

    @include retina {
      background: $primary-grey-bg url("../img/hero/hero-bg-mob@2x.jpg");
    }
  }
}

.hero--no-js::before {
  top: 370px;
}

.hero__content {
  width: 44.66%;

  @include tablet-mobile {
    width: 100%;
  }
}

.hero h1 {
  @include hero-title;
  @include reset-text-slyle;
  font-size: 46px;
  line-height: 64px;
  margin-top: 30px;
  letter-spacing: -0.005em;

  @include tablet-mobile {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  @include media-tablet {
    margin: 90px auto 19px;
    width: 68%;
  }

  @include media-mobile {
    margin: 75px auto 20px;
    width: 100%;
    max-width: 360px;
  }
}

.hero p {
  @include reset-text-slyle;
  font-family: $light-f;
  font-weight: $font-weight-light;
  letter-spacing: -0.005em;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;
  margin-top: 25px;

  @include tablet-mobile {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @include media-tablet {
    margin: 0 auto;
    width: 56.64%;
  }

  @include media-mobile {
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
  }
}

.hero h2 {
  @include reset-text-slyle;
  font-family: $f-semi-bold;
  font-weight: $font-weight-semibold;
  text-align: center;
  letter-spacing: -0.005em;
  font-size: 17px;
  line-height: 28px;
  margin-top: 5px;
  margin-bottom: 20px;

  @include tablet-mobile {
    font-size: 18px;
    line-height: 28px;
    color: $black-text;
  }

  @include media-tablet {
    margin-bottom: 30px;
  }
  @include media-mobile {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.hero__form {
  margin-left: auto;
  width: 37%;

  @include media-tablet {
    margin: 144px auto 0;
    width: 44.8%;
  }

  @include media-mobile {
    margin: 135px auto 0;
    width: 100%;
    max-width: 360px;
  }
}

.hero__form label {
  display: none
}

.hero__form input {
  @include placeholder-text;
  padding: 12px 5px 11px 29px;
  width: 100%;
  margin-bottom: 19px;
  line-height: 24px;
  color: $dark-grey-text;
  border: 1px solid $border-input-color;
  border-radius: 6px;
  box-sizing: border-box;

  @include media-tablet {
    padding: 12px 23px;
  }

  @include media-mobile {
    margin-bottom: 18px;
    padding: 13px 5px 11px 26px;
  }
}

.hero__form input:focus {
  border: 1px solid $primary-turquoise-bg;
  outline: none;
}

.hero__form input:hover {
  border: 1px solid $primary-turquoise-bg;
  outline: none;
}

.hero__form input[type="number"] {
  appearance: textfield;
}

.hero__form input[type="number"]::-webkit-outer-spin-button,
.hero__form input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.hero__form input::placeholder {
  @include placeholder-text;
  line-height: 24px;
  color: $dark-grey-text;
  opacity: 0.5;
}

.hero__form button {
  @include reset-style-button;
  border-radius: 6px;
  width: 100%;
  padding: 16px 10px;

  @include media-tablet {
    padding: 15px 10px;
  }

  @include media-mobile {
    padding: 14px 10px;
  }
}
