.video {
  padding-top: 122px;
  color: $white-text;
  background: linear-gradient(180deg, $dark-grey-bg 87%, $primary-white-color 87%);
  min-height: 805px;

  @include media-tablet {
    margin-top: -50px;
    padding-top: 70px;
    background: linear-gradient(180deg, $dark-grey-bg 82%, $primary-white-color 82%);
    min-height: 503px;
  }

  @include media-mobile {
    padding-top: 85px;
    min-height: 438px;
    background: linear-gradient(180deg, $dark-grey-bg 88%, $primary-white-color 88%);
  }
}

.video .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video h2 {
  margin-bottom: 20px;
  line-height: 30px;
  letter-spacing: $small-letter-spacing;
}

.video p {
  @include reset-text-slyle;
  @include accent-text;
  line-height: 28px;
  margin-bottom: 55px;
  width: 29.16%;
  text-align: center;

  @include media-tablet {
    margin-bottom: 40px;
    width: 59.86%;
  }

  @include media-mobile {
    margin-bottom: 51px;
    width: 100%;
  }
}

.video__container {
  position: relative;
  min-height: 522px;
  width: 929px;
  overflow: hidden;

  @include media-tablet {
    width: 69.49%;
    min-height: 282px;
    height: auto;
  }

  @include media-mobile {
    width: 100%;
    min-height: 161px;
    height: auto;
  }
}

.video__content {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.video__button {
  @include reset-style-button;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url("../img/svg/pause-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  @include media-tablet {
    width: 90px;
    height: 90px;
    background-size: 25px 25px;
    transform: translate(-50%, -50%);
  }

  @include media-mobile {
    transform: translate(-50%, -50%);
  }
}

.video__button:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.video__button:active {
  transform: translate(-50%, -50%) scale(0.97);
  opacity: 0.9;
}

.video__button--active {
  background-image: url("../img/svg/play-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px 27px;

  @include media-tablet {
    background-size: 20px 29px;
  }
}
